<div id="posty">
<% div_for post do %>
<%= link_to image_tag("../images/edit.png", :border=>0), edit_post_path(post), :class => "edycja" %>  
  <%= link_to image_tag("../images/cross.png", :border=>0), post, :method => :delete, :confirm => "Napewno?", :class => "edycja" %>  

  <h2><%= link_to_unless_current h(post.title), post %></h2>
    <%= simple_format h(post.body) %>
<% end %>
</div>
